<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="https://res.cloudinary.com/dqykftyy6/image/upload/v1694866593/ProyectoBackEnd/FaviconFoo-01_e3bqgo.png"
    />
    <title>Foo Fighters</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/{{style}}" />
    
  </head>
  <header class="headerContainer">
    <a href="/"><img
        src="https://res.cloudinary.com/dqykftyy6/image/upload/v1694874155/ProyectoBackEnd/FooFightersLogo_vusix0.svg"
        alt="Foo Fighters Logo"
      /></a>
  </header>
  <body>
    {{{body}}}
  </body>
  <footer class="footerContainer">

  </footer>
</html>