<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="https://res.cloudinary.com/dqykftyy6/image/upload/v1694866593/ProyectoBackEnd/FaviconFoo-01_e3bqgo.png"
    />
    <title>Foo Fighters</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/{{style}}" />
  </head>

  <main id="principalMain">
    <header class="headerContainer">
      {{#if isAdmin}}
        <a class="productsAdminBtn" href="/realtimeproducts">
          Administrador de productos</a>
      {{/if}}
      <img
        src="https://res.cloudinary.com/dqykftyy6/image/upload/v1694874155/ProyectoBackEnd/FooFightersLogo_vusix0.svg"
        alt="Foo Fighters Logo"
      />
      <section class="profileHeader">
        {{#if role}}
          <p class="greetingUser">Hola
            {{userFirstName}}!
          </p>
          <a href="/profile" class="profileBtn">// PERFIL //</a>
        {{/if}}
      </section>
    </header>
    <body>
      {{{body}}}
    </body>
    <footer class="footerContainer">
      <section class="socialMedia">
        <a href="https://www.instagram.com/foofighters/" target="_blank"><img
            src="https://res.cloudinary.com/dqykftyy6/image/upload/v1695124521/icon__instagram_fill_icon__oprlc3.svg"
            alt="Instagram Foo Fighters"
          /></a>
        <a href="https://www.youtube.com/user/foofighters" target="_blank"><img
            src="https://res.cloudinary.com/dqykftyy6/image/upload/v1695124521/icon__youtube__v6fssx.svg"
            alt="Canal YouTube Foo Fighters"
          /></a>
        <a
          href="https://open.spotify.com/artist/7jy3rLJdDQY21OgRLCZ9sD"
          target="_blank"
        ><img
            src="https://res.cloudinary.com/dqykftyy6/image/upload/v1695124521/icon__spotify__lx6nyf.svg"
            alt="Spotify Foo Fighters"
          /></a>
        <p>Pago seguro</p>
        <a href="https://www.paypal.com/es/home" target="_blank"><img
            src="https://res.cloudinary.com/dqykftyy6/image/upload/v1695124521/icon__PayPal__gasu0g.svg"
            alt="PayPal"
          /></a>
      </section>
      <div class="legalInfo">
        <p>Copyright 2023 Foo Fighters. Todos los derechos reservados.</p>
      </div>
    </footer>
  </main>
</html>