.linkNewPassContainer {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
}
aside {
  overflow: hidden;
}
aside img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}
.linkNewPassContainer--linkNewPassSection {
  width: 65%;
  background-color: white;
  margin: 0 auto 0 auto;
  padding: 5rem;
  display: flex;
  justify-content: center;
}
.formTitle {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
form {
  height: auto;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
form p {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
input {
  width: 45rem;
  height: 3.7rem;
  padding: 1rem;
  font-size: 1.7rem;
}
button {
  color: black;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.65rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.errorMessage {
  width: auto;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  padding: 1rem;
  background-color: rgb(255, 3, 3);
  margin: auto;
}
.successMessage {
  width: auto;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  padding: 1rem;
  background-color: rgb(113, 185, 6);
  margin: auto;
}
.loaderBackground {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.859);
  position: fixed;
  filter: opacity(0);
  pointer-events: none;
  transition: 0.1s ease-in-out;
}
.loaderBackgroundOn {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.859);
  position: fixed;
  top: 0;
  left: 0;
  filter: opacity(1);
  transition: 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}
