@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;600;700&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Hepta Slab";
}
#principalMain {
  width: 100%;
  height: auto;
  background-image: url("https://res.cloudinary.com/dqykftyy6/image/upload/v1706269841/ProyectoBackEnd/BackgroundECommerce_m5vhwa.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat, top;
  position: relative;
}
.headerContainer {
  width: 100%;
  height: 15rem;
  padding: 5rem;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: "btnAdmin logoArea profileArea";
}
.headerContainer img {
  margin: 0 auto;
  grid-area: logoArea;
  align-self: center;
}
.profileHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: profileArea;
  align-self: center;
}
.greetingUser {
  font-size: 1.8rem;
  color: black;
  text-align: right;
}
.profileBtn {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
}
.productsAdminBtn {
  width: auto;
  height: auto;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: solid 1px black;
  padding: 1rem;
  grid-area: btnAdmin;
  align-self: center;
}
.footerContainer {
  width: 100%;
  height: 20rem;
  background-color: black;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.socialMedia {
  height: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}
.legalInfo {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}
