.productDetailContainer {
  width: 100%;
  height: auto;
  display: flex;
}
.navContainer {
  width: 65%;
  height: 10rem;
  display: flex;
  flex-grow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 2rem auto 0 auto;
}
.navContainer--li {
  list-style: none;
  color: white;
}
.navContainer--li a {
  color: black;
  font-size: 1.65rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.productDetailContainer--productSection {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 50rem;
  margin-bottom: 10rem;
  padding: 2rem;
}
.productContainer {
  width: 33%;
  margin: 8rem auto 10rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.productContainer img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.productContainer--info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.productDetail--title {
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
}
.productDetail--description {
  color: black;
  font-size: 1.8rem;
}
.productDetail--stock b {
  color: black;
  font-size: 1.8rem;
}
.productDetail--price {
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
}

.btnsContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#addToCartBtn {
  color: white;
  background-color: black;
  border-style: none;
  font-size: 1.65rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
}
.quantitySelectContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.quantitySelectContainer span {
  font-size: 1.6rem;
  font-weight: 700;
}
#quantity {
  width: 10%;
  height: auto;
  font-size: 2rem;
}
#quantity option {
  font-size: 2rem;
}
.btnInicio_Cart {
  color: black;
  border: solid 1px black;
  padding: 1rem;
  font-size: 1.65rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.swal2-popup {
  width: 20% !important;
  height: auto !important;
  min-height: 12rem;
  padding: 2rem !important;
}
.swal2-title {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  color: black !important;
}
