<main class="linkNewPassContainer">
  <div class="loaderBackground">// CARGANDO... //</div>
  {{#if errorMessage}}
    <p class="errorMessage">El usuario ingresado no existe</p>
  {{/if}}
  {{#if successMessage}}
    <p class="successMessage">Hemos enviado el enlace a tu correo</p>
  {{/if}}
  <section class="linkNewPassContainer--linkNewPassSection">
    <form method="post" action="/api/session/link_new_password">
      <h3 class="formTitle">Reestablece tu contraseña</h3>
      <p>Te enviaremos a tu email un enlace para que continues con el proceso</p>
      <input type="email" name="email" placeholder="Ingresa tu email" />
      <button class="submitBtns" id="">// Enviar //</button>
    </form>
  </section>
  <aside>
    <img
      src="https://res.cloudinary.com/dqykftyy6/image/upload/v1702893473/ProyectoBackEnd/e96a4d02-7f09-4628-b0d2-b87dceec62e1_1405971_TABLET_LANDSCAPE_LARGE_16_9_dvgblp.jpg"
      alt="Reestablece tu contraseña"
    />
  </aside>
</main>
<script src="/js/loaderBackground.js"></script>