<main class="profileContainer">
  <section class="profileContainer--profileSection">
    <aside>
      <img
        src="https://res.cloudinary.com/dqykftyy6/image/upload/v1697662110/ProyectoBackEnd/MV5BZjRmNzhhNDUtMWE1Zi00ZjM5LWEzYjYtZThmMTkwNDU5YjcyXkEyXkFqcGdeQXVyNjc1OTk4NjA_._V1__bvpfdc.jpg"
        alt=""
      />
    </aside>
    <article class="userProfile">
      <h3 class="profileWelcome">Bienvenidx a tu perfil</h3>
      <h4 class="profileTitle">Nombre</h4>
      <p class="profileDetail">{{userFirstName}}</p>
      {{#if ageExist}}
        <h4 class="profileTitle">Edad</h4>
        <p class="profileDetail">{{age}}</p>
      {{/if}}
      <h4 class="profileTitle">Email</h4>
      <p class="profileDetail">{{email}}</p>
      <h4 class="profileTitle">Rol</h4>
      <p class="profileDetail">{{role}}</p>
      <a href="/products/inicio" class="goBackBtn">// Volver //</a>
      <a class="logout" href="/logout">// Cerrar sesión //</a>
    </article>

  </section>
</main>