<main class="unauthorizedMain">
  <img
    src="https://res.cloudinary.com/dqykftyy6/image/upload/v1706271189/ProyectoBackEnd/unauthorizedBackground_g5vuuk.jpg"
    alt="Session destroyed"
  />
  <p>No tienes los permisos para ingresar aquí</p>
  <a href="/products/inicio">// Ir al inicio //</a>
</main>