<main class="unauthorizedMain">
  <img
    src="https://res.cloudinary.com/dqykftyy6/image/upload/v1699261748/unauthorizedBckg_zf6jzm.jpg"
    alt="Session destroyed"
  />
  <p>No tienes los permisos para ingresar aquí</p>
  <a href="/products/inicio">// Ir al inicio //</a>
</main>